{% extends 'base.html' %}
{% block content %}
<form method="POST" action='.'>
    {% csrf_token %}
    <div class="form-group">
        <label for="exampleInputEmail1" class="form-label text-uppercase">Descrição</label>
        {{ form.descricao }}
    </div>
    <div class="form-group">
        <label for="exampleInputEmail1" class="form-label text-uppercase">Data de Vencimento</label>
        <div class="">
            {{ form.data_venc }}
        </div>
    </div>
    <div class="form-group">
        <label for="exampleInputEmail1" class="form-label text-uppercase">Tipo da Conta</label>
        {{ form.tipo }}
    </div>
    <div class="form-group">
        <label for="exampleInputEmail1" class="form-label text-uppercase">Valor</label>
        {{ form.valor }}
    </div>
    <div class="form-group">
        <label for="exampleInputEmail1" class="form-label text-uppercase">Pago?</label>
        {{ form.pago }}
    </div>
    <input type="submit" class="btn btn-primary" name="Submit" value="Cadastrar">
</form>

{% endblock content %}

{% block scripts %}

{% endblock scripts %}
