{% extends 'base.html' %}
{% load static %}
{% block conteudo %}
<div class="row">
    <div class="col-lg-8">
        <!-- Calendar -->
        <div class="box box-solid bg-green-gradient">
            <div class="box-header">
                <i class="fa fa-calendar"></i>
                <h3 class="box-title">Calendário</h3>
                <!-- tools box -->
                <div class="pull-right box-tools">
                    <!-- button with a dropdown -->
                    <div class="btn-group">
                        <button type="button" class="btn btn-success btn-sm dropdown-toggle" data-toggle="dropdown">
                            <i class="fa fa-bars"></i></button>
                        <ul class="dropdown-menu pull-right" role="menu">
                            <li><a href="#">Adicionar Lançamento</a></li>
                            <li><a href="#">Apagar lançamento</a></li>
                            <li class="divider"></li>
                            <li><a href="#">Ver Calendário</a></li>
                        </ul>
                    </div>
                    <button type="button" class="btn btn-success btn-sm" data-widget="collapse"><i
                            class="fa fa-minus"></i>
                    </button>
                    <button type="button" class="btn btn-success btn-sm" data-widget="remove"><i
                            class="fa fa-times"></i>
                    </button>
                </div>
                <!-- /. tools -->
                <!-- /.box-header -->
                <div class="box-body no-padding">
                    <!--The calendar -->
                    <div id="calendar" style="width: 100%"></div>
                </div>

            </div>
        </div>
    </div>
    <div class="col-md-4">
        <div class="info-box bg-blue">
            <span class="info-box-icon"><i class="ion ion-ios-pricetag-outline"></i></span>

            <div class="info-box-content">
                <span class="info-box-text">Água</span>
                <span class="info-box-number">5.200</span>

                <div class="progress">
                    <div class="progress-bar" style="width: 50%"></div>
                </div>
                <span class="progress-description">
                    Constante
                </span>
            </div>
        </div>
        <div class="info-box bg-yellow">
            <span class="info-box-icon"><i class="ion ion-ios-pricetag-outline"></i></span>

            <div class="info-box-content">
                <span class="info-box-text">Luz</span>
                <span class="info-box-number">5.200</span>

                <div class="progress">
                    <div class="progress-bar" style="width: 50%"></div>
                </div>
                <span class="progress-description">
                    Constante
                </span>
            </div>
        </div>
        <div class="info-box bg-red">
            <span class="info-box-icon"><i class="ion ion-ios-pricetag-outline"></i></span>

            <div class="info-box-content">
                <span class="info-box-text">Internet</span>
                <span class="info-box-number">5.200</span>

                <div class="progress">
                    <div class="progress-bar" style="width: 50%"></div>
                </div>
                <span class="progress-description">
                    Constante
                </span>
            </div>
        </div>
    </div>
</div>

<div class="box">
    <div class="box-header">
        <h3 class="box-title">Lançamentos do Mês</h3>

        <div class="box-tools">
            <div class="input-group input-group-sm hidden-xs" style="width: 150px;">
                <input name="table_search" class="form-control pull-right" placeholder="Pesquisar" type="text">

                <div class="input-group-btn">
                    <button type="submit" class="btn btn-default"><i class="fa fa-search"></i></button>
                </div>
            </div>
        </div>
    </div>
    <!-- /.box-header -->
    <div class="box-body table-responsive no-padding">
        <table class="table table-hover">
            <tbody>
                <tr>
                    <th>ID</th>
                    <th>Descrição</th>
                    <th>Data</th>
                    <th>Valor</th>
                    <th>Pago</th>
                </tr>
                <tr>
                    <td>183</td>
                    <td>Bacon</td>
                    <td>11-9-2019</td>
                    <td>R$ 152,36</td>
                    <td><span class="label label-success"><i class="fa fa-check"></i></span></td>
                </tr>
                <tr>
                    <td>184</td>
                    <td>Ervilha</td>
                    <td>11-9-2019</td>
                    <td>R$ 12,36</td>
                    <td><span class="label label-danger"><i class="fa fa-ban"></i></span></td>
                </tr>
            </tbody>
        </table>
    </div>
    <!-- /.box-body -->
</div>
<!-- /.box -->
{% endblock conteudo %}