{% extends 'base.html' %}
{% block content %}
<form method="POST" action='.' class="form">

    <div class="form-group">
        {{ form.message.errors }}
        {{ form }}
    </div>
    <input type="submit" class="btn btn-primary" name="Submit" value="Alterar">
</form>

{% endblock content %}