$relHeaderBg: #fff;
$relTableBorder: #e0e0e0;

$relConciliacaoGrupoBg: #fff;
$relConciliacaoGrupoBorder: #D1D1D1;

$relSetaColor: #5A1680;
$relSetaColorOver: #7e5383;

$relSaldoPositivo: #2375FE;
$relSaldoNegativo: #D90000;
$relGreen: #40B34E;

//Semaforos
$circuloRed: #FF7979;
$circuloYellow: #F5D76E;
$circuloGreen: #86CE9A;

//Agrupadores
$relHigh1Bg: #f0eaff;
$relHigh2Bg: #FBEC97;
$relHigh3Bg: #5A1680;
$relHigh4Bg: #777;
$relHigh5Bg: #E1FFC1;
$relHigh6Bg: #E1F4FF;
$relHigh7Bg: #B0E1FF;
$relHigh8Bg: #7CB339;

$relHigh3Color: #FFF;
$relHigh4Color: #FFF;
$relHigh8Color: #FFF;

$relTableGrupoHeaderBg: #a2a2a2;
$relTableGrupoHeaderColor: #fff;
$relTableGrupoHeaderBorder: #666;
$relTableHeaderBg: #d4d4d4;
$relTableHeaderColor: #000;

//Flags do estoque
$relEstoque1MesBg: #D9E8FF;
$relEstoque2MesesBg: #A7D9FE;
$relEstoque3MesesBg: #86CD01;
$relEstoque4MesesBg: #A6BD02;
$relEstoque5MesesBg: #B95C00;
$relEstoque6MesesBg: #800000;
$relEstoque7MesesBg: #000000;

$relEstoque1MesColor: #273283;
$relEstoque2MesesColor: #273283;
$relEstoque3MesesColor: #FFF;
$relEstoque4MesesColor: #FFF;
$relEstoque5MesesColor: #FFF;
$relEstoque6MesesColor: #FFF;
$relEstoque7MesesColor: #FFF;

//Subtotais
$relSubtotalBg: #FFFFD7;
$relSubtotal2Bg: #FFFF97;
$relTotalBg: #DF9C00;
$relTotal2Bg: #B78000;

$relTotalColor: #FFF;
$relTotal2Color: #FFF;



#ordem_cabecalho {
    background-color: $relHeaderBg;
    width: 100%;
}
#ordem_cabecalho td {
    border: none !important;
}
#relatorio {
    width: 100%;
    background-color: $relHeaderBg;
}

//Contestacao e Conciliacao
#relatorio .grupo {
    border: 1px solid $relConciliacaoGrupoBorder;
    display: table;
    background-color: $relConciliacaoGrupoBg;
    -moz-border-radius: 3px;
    border-radius: 3px;
    width: 100%;
}

#relatorio td {
    min-width: 60px;
}

#relatorio hr {
    margin: 30px 0px 30px 0px;
}

#relatorio table {
    width: 100%;
    font-size: 11px !important;
    border-collapse: collapse;
    background-color: $relHeaderBg;
}
#relatorio #subtable td {
    border: 0px;
}

#relatorio td {
    margin: 0px;
    border: 1px solid $relTableBorder;
}

//Header da tabela dos relatorios
#relatorio .titulo {
    background-color: $relTableHeaderBg;
    color: $relTableHeaderColor !important;
    font-size: 11px !important;
}

//Header principal da tabela de meta
#relatorio .tituloPrincipal {
    background-color: $relTableGrupoHeaderBg;
    color: $relTableGrupoHeaderColor !important;
    font-size: 11px !important;
}

#relatorio .tituloFiscal {
    background-color: $relTableHeaderBg;
    color: $relTableHeaderColor !important;
    font-size: 13px !important;
    font-weight: bold;
    text-align: center;
}

#relatorio .titulo a {
    color: $relTableGrupoHeaderColor;
}

#fluxoCaixa {
    width: 100%;
    background-color: $relTableGrupoHeaderBg;
    color: $relTableGrupoHeaderColor;
    font-size: 13px;
    text-align: left;
    clear: both;
}
#relatorio .txt1 {
    font-size: 10px;
}

#relatorio .total {
    font-size: 14px;
    color: $relTotalColor;
    background-color: $relTotalBg;
    padding: 5px;
}

#relatorio .total td {
    line-height: 30px;
}

#relatorio .total2 {
    font-size: 14px;
    color: $relTotal2Color;
    background-color: $relTotal2Bg;
    padding: 5px;
}

#relatorio .subtotal {
    text-align: right;
    background-color: $relSubtotalBg;
    padding: 5px;
}
#relatorio .subtotal2 {
    text-align: right;
    background-color: $relSubtotal2Bg;
    padding: 5px;
}

#relatorio .total td,
#relatorio .subtotal td,
#relatorio .subtotal2 td {
    padding: 5px;
}
#relatorio .table-toggle td {
    border: 1px solid white;
}
#relatorio .celula-toggle td {
    border: 1px solid #dcdbdb;
    padding: 5px;
}

.circulo-red,
.circulo-green,
.circulo-yellow {
    display: inline-block;
    overflow: hidden;
    width: 17px;
    height: 17px;
    margin-bottom: -4px;
    margin-left: 10px;
    float: right;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    border-radius: 50%;
}
.circulo-red {
    background: $circuloRed;
}
.circulo-green {
    background: $circuloGreen;
}
.circulo-yellow {
    background: $circuloYellow;
}
.sort {
    cursor: pointer;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}
.linha-toggle {
    background-color: #f1f1f1;
    line-height: 30px;
    border-color: white !important;
}
.celula-toggle {
    padding: 15px;
    background-color: #fff;
    border-color: #000;
}

.div-porcentagem {
    padding-left: 0px !important;
    display: none;
    font-size: 13px !important;
    font-family: Verdana, Arial, sans-serif !important;
    color: #333;
}
.input-inteiro {
    text-align: center;
    width: 35px;
    height: 15px;
    padding: 2px 0px !important;
    font-size: 12px
}
.relatorio_segmentaco-titulo {
    display: block;
    overflow: hidden;
    margin-top: 10px;
    text-align: left;
    font-size: 24px;
    text-align: center;
}
.quebrapagina {
    page-break-before: always;
}
#imprimir,
.botaoRel {
    cursor: pointer;
}
#imprimir img,
.botaoRel img {
    margin: 10px;
}
.C,
.positivo,
.blue {
    color: $relSaldoPositivo !important;
}
.D,
.negativo,
.red {
    color: $relSaldoNegativo !important;
}
.green {
    color: $relGreen !important;
}

.high1 {
    background-color: $relHigh1Bg;
}
.high2 {
    background-color: $relHigh2Bg;
}
.high3 {
    background-color: $relHigh3Bg;
    padding: 4px;
    color: $relHigh3Color;
}
.high4 {
    background-color: $relHigh4Bg;
    padding: 4px;
    color: $relHigh4Color;
}
.high5 {
    background-color: $relHigh5Bg;
}
.high6 {
    background-color: $relHigh6Bg;
}
.high7 {
    background-color: $relHigh7Bg;
}
.high8 {
    background-color: $relHigh8Bg;
    color: $relHigh8Color;
}

.estoque1mes {
    background-color: $relEstoque1MesBg;
    color: $relEstoque1MesColor;
    width: 150px;
    text-align: center;
    padding: 2px;
}
.estoque2meses {
    background-color: $relEstoque2MesesBg;
    color: $relEstoque2MesesColor;
    width: 150px;
    text-align: center;
    padding: 2px;
}
.estoque3meses {
    background-color: $relEstoque3MesesBg;
    color: $relEstoque3MesesColor;
    width: 150px;
    text-align: center;
    padding: 2px;
}
.estoque4meses {
    background-color: $relEstoque4MesesBg;
    color: $relEstoque4MesesColor;
    width: 150px;
    text-align: center;
    padding: 2px;
}
.estoque5meses {
    background-color: $relEstoque5MesesBg;
    color: $relEstoque5MesesColor;
    width: 150px;
    text-align: center;
    padding: 2px;
}
.estoque6meses {
    background-color: $relEstoque6MesesBg;
    color: $relEstoque6MesesColor;
    width: 150px;
    text-align: center;
    padding: 2px;
}
.estoquemais6meses {
    background-color: $relEstoque7MesesBg;
    color: $relEstoque7MesesColor;
    width: 150px;
    text-align: center;
    padding: 2px;
}

/* Relatorio */

#rel .header {
    background-color: $relHeaderBg;
}
#rel .headerTitulo {
    width: 30%;
    position: absolute;
    top: 20px;
    left: 50%;
    margin-left: -15%;
}
#rel .headerInfo {
    position: absolute;
    right: 2%;
    width: 30%;
    top: 2px;
    text-align: right;
}
#rel .nav {
    position: absolute;
    top: 50%;
    cursor: pointer;
    z-index: 1000;
}
#rel .navLeft {
    left: 10px;
    margin-top: -20px;
}
#rel .navRight {
    right: 10px;
    margin-top: -20px;
}
#rel .nav i {
    font-size: 40px;
    color: $relSetaColor;
}
#rel .nav i:hover {
    color: $relSetaColorOver;
}
#rel .containerGrafico {
    width: 90%;
    height: 90%;
    margin: 0 auto;
}
#rel .botoes {
    position: absolute;
    top: 5px;
    left: 15px;
}


.filtrosRelatorio {
    position: fixed;
    width: 70%;
    height: 85%;
    background-color: rgba(73, 18, 104, 0.8);
    top: 5%;
    right: -80%;
    z-index: 10;
}

.filtrosRelatorio .containerFiltroRelatorio {
    position: relative;
    width: 98%;
    background: white;
    overflow-y: auto;
    overflow-x: hidden;
    height: 96%;
    top: 15px;
    left: 15px;
}

.containerFiltroRelatorio .botaoBuscarTelaFiltro {
    display: table;
    position: fixed;
    bottom: 12%;
    right: 2%;
    height: 5%;
    background-color: #525252;
    border: 1px solid #f1f1f1;
    text-align: center;
    -moz-border-radius: 10px;
    border-radius: 10px;
    opacity: 0.80;
    -moz-opacity: 0.80;
    filter: alpha(opacity=80);
    cursor: move;
    z-index: 10;
}

.barRelatorio {
    width: 80%;
    height: 8%;
    position: fixed;
    bottom: 0;
    top: 5%;
    right: -79%;
    padding: 5px;
    color: #fff;
    display: block;
    cursor: pointer;
    background-color: rgba(73, 18, 104, 0.8);
    -webkit-border-top-left-radius: 10px;
    -webkit-border-bottom-left-radius: 10px;
    -moz-border-radius-topleft: 10px;
    -moz-border-radius-bottomleft: 10px;
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
}

.barRelatorio li {
    list-style-type: none;
    position: absolute;
    top: 50%;
    left: 1%;
    margin-right: -50%;
    transform: translate(-50%, -50%) rotate(269deg);
    -webkit-transform:  translate(-50%, -50%) rotate(269deg);
    -moz-transform:  translate(-50%, -50%) rotate(269deg);
    -o-transform:  translate(-50%, -50%) rotate(269deg);
    -ms-transform:  translate(-50%, -50%) rotate(269deg);
    font-size: 15px;
    font-weight: bolder;
}

@media screen and (max-width: 860px) {
    #relatorio table,
    #relatorio .titulo {
        font-size: 15px !important;
    }
    #relatorio table,
    #relatorio .lista {
        font-size: 12px !important;
    }
    #relatorio .lista td {
        display: table-cell;
        clear: none;
        float: none;
        text-align: left !important;
        width: auto;
    }
    #rel .botoes {
        display: none;
    }
    #rel .nav i {
        font-size: 30px;
    }

    .filtrosRelatorio{
        display: none;
    }

    .barRelatorio {
        display: none;
    }
}

@media screen and (max-height: 500px) {

    .filtrosRelatorio{
        display: none;
    }

    .barRelatorio {
        display: none;
    }
}

@media print {
    #relatorio td,
    body {
        font-size: 11px;
    }
    #relatorio .titulo {
        font-weight: bold;
    }
    #relatorio p {
        margin: 1px;
    }
    #relatorio td {
        min-width: 0px !important;
    }
    #ordem_cabecalho td {
        border-color: $relHeaderBg !important;
    }
    #imprimir,
    .botaoRel {
        display: none;
    }
    .subtotal,
    .subtotal2,
    .total {
        border-color: $relHeaderBg !important;
    }
    div.container {
        display: none;
    }
}
