{% load static %}

<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Serta</title>
    <link rel="shortcut icon" href="{% static '/images/favicon.png' %}">
    <!-- Tell the browser to be responsive to screen width -->
    <meta content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no" name="viewport">

    <!-- Bootstrap 3.3.7 -->
    <link rel="stylesheet" type="text/css" href="{% static 'bootstrap/css/bootstrap.min.css' %}">
    <!-- Theme style -->
    <link rel="stylesheet" type="text/css" href="{% static 'adminlte/css/AdminLTE.min.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'adminlte/css/skins/skin-green.min.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'font-awesome/css/font-awesome.min.css' %}">
    <!-- iCheck -->
    <link rel="stylesheet" type="text/css" href="{% static 'iCheck/square/green.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'css/botoes.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'datatables/css/dataTables.bootstrap.min.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'select2/css/select2.min.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'css/modal.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'css/usuario.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'css/tooltip.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'css/custom.css' %}">

    <link rel="stylesheet" href="{% static 'app/bower_components/bootstrap/dist/css/bootstrap.min.css' %}">
    <link rel="stylesheet" href="{% static 'app/bower_components/font-awesome/css/font-awesome.min.css' %}">
    <link rel="stylesheet" href="{% static 'app/bower_components/Ionicons/css/ionicons.min.css' %}">
    <link rel="stylesheet" href="{% static 'app/dist/css/AdminLTE.min.css' %}">
    <link rel="stylesheet" href="{% static 'app/dist/css/skins/_all-skins.min.css' %}">
    <link rel="stylesheet" href="{% static 'app/bower_components/morris.js/morris.css' %}">
    <link rel="stylesheet" href="{% static 'app/bower_components/jvectormap/jquery-jvectormap.css' %}">
    <link rel="stylesheet" href="{% static 'app/bower_components/bootstrap-datepicker/dist/css/bootstrap-datepicker.min.css' %}">
    <link rel="stylesheet" href="{% static 'app/bower_components/bootstrap-daterangepicker/daterangepicker.css' %}">
    <link rel="stylesheet" href="{% static 'app/plugins/bootstrap-wysihtml5/bootstrap3-wysihtml5.min.css' %}">
    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
  <script src="https://oss.maxcdn.com/html5shiv/3.7.3/html5shiv.min.js"></script>
  <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/select2/4.0.6-rc.0/js/select2.min.js"></script>

  <![endif]-->

    <!-- Google Font -->
    <link rel="stylesheet"
        href="https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,600,700,300italic,400italic,600italic">
    {% block extraCSS %}
    {% endblock %}
</head>

<body class="hold-transition skin-green sidebar-mini">
    <div class="wrapper">

        <header class="main-header">
            <!-- Logo -->
            <a href="{% url 'home' %}" class="logo">

                <span class="logo-mini"><img src="{% static 'images/favicon.png'%}" width="100%" height="100%" /></span>
                <!-- logo for regular state and mobile devices -->
                <span class="logo-lg"><img src="{% static 'images/logo_h.png'%}" width="90%" height="90%" /></span>

            </a>
            <!-- Header Navbar: style can be found in header.less -->
            <nav class="navbar navbar-static-top">
                <!-- Sidebar toggle button-->
                <a href="#" class="sidebar-toggle" data-toggle="push-menu" role="button">
                    <span class="sr-only">Toggle navigation</span>
                </a>

                <div class="navbar-custom-menu">
                    <ul class="nav navbar-nav">

                        <div class="navbar-custom-menu">
                            <ul class="nav navbar-nav">

                                <li class="dropdown user user-menu"><span style="align-items: center; color: white">
                                        <span style="color: white" id="tempo1"></span>
                                    </span>
                                </li>

                                <!-- User Account: style can be found in dropdown.less -->
                                <li class="dropdown user user-menu">
                                    <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                                        {% if request.user.Foto != '' %}
                                        <img src="{{ request.user.Foto.url }}" class="user-image" alt="User Image">
                                        {% else %}
                                        <img src="{% static 'img/nophoto.jpg' %}" class="user-image" alt="User Image">
                                        {% endif %}
                                        <span class="hidden-xs">{{ request.user.Nome }}</span>
                                    </a>
                                    <ul class="dropdown-menu">
                                        <!-- User image -->
                                        <li class="user-header">
                                            {% if request.user.Foto != '' %}
                                            <img src="{{ request.user.Foto.url }}" class="img-circle" alt="User Image">
                                            {% else %}
                                            <img src="{% static 'img/nophoto.jpg' %}" class="img-circle"
                                                alt="User Image">
                                            {% endif %}
                                            <p>
                                                {{ request.user.Nome }}

                                                <small>{{ request.user.get_Funcao_display }} </small>

                                            </p>
                                        </li>
                                        <!-- Menu Body -->

                                        <!-- Menu Footer-->
                                        <li class="user-footer">
                                            <div class="pull-left">
                                                <a href="{% url 'meusdados' %}" class="btn btn-default btn-flat">Meus
                                                    Dados</a>
                                            </div>
                                            <div class="pull-right">
                                                <a href="{% url 'sair' %}" class="btn btn-default btn-flat">Sair</a>
                                            </div>
                                        </li>
                                    </ul>
                                <li>
                                    <a href="{% url 'sair' %}" title="Sair"><i class="fa fa-sign-out"></i></a>
                                </li>
                                </li>
                            </ul>
                        </div>
            </nav>
        </header>
        <!-- Left side column. contains the logo and sidebar -->
        <aside class="main-sidebar">
            <!-- sidebar: style can be found in sidebar.less -->
            <section class="sidebar">
                <!-- Sidebar user panel -->

                <!-- sidebar menu: : style can be found in sidebar.less -->
                <ul class="sidebar-menu" data-widget="tree">
                    <li class="header">MENU</li>
                    <!--
                        {% if request.get_full_path|in_links:'home' %}active menu-open{% endif %}
                    -->
                    <li class="active"><a
                            href="{% url 'home' %}"><i class="fa fa-home"></i> <span>Início</span></a>
                    </li>

                    <li>
                        <a href="{% url 'meusdados' %}"><i class="fa fa-user"></i> <span>Meus dados</span></a>
                    </li>

                </ul>

            </section>
            <!-- /.sidebar -->
        </aside>

        <!-- Content Wrapper. Contains page content -->
        <div class="content-wrapper">
            {% block content %}

            <!-- Content Header (Page header) -->
            <section class="content-header">
                {% if messages %}
                {% for message in messages %}
                <div class="alert alert-{{ message.tags }} alert-dismissible">
                    <button type="button" class="close" data-dismiss="alert" aria-hidden="true">×</button>
                    {{ message }}
                </div>
                {% endfor %}
                {% endif %}
                <h1>
                    {% block content-header %}
                    Dashboard <small>Painel de controle</small>
                    {% endblock content-header %}
                </h1>
            </section>

            <!-- Main content -->
            <section class="content">

                <!-- Small boxes (Stat box) -->
                <div class="row">

                    {% block content-main %}

                    {% endblock content-main %}
                    <!-- ./col -->
                </div>
                <!-- /.row -->

            </section>
            {% endblock content %}
            <!-- /.content -->
        </div>

        <!-- /.content-wrapper -->
        <footer class="main-footer">
            <div class="pull-right hidden-xs">
                <b>Version</b> 0.1
            </div>
            <strong>Copyright &copy; 2019 <a href="https://www.minasvale.com.br">MinasVale</a>.</strong> Todos os
            direitos reservados
        </footer>
        <script src={% static 'jquery/jquery.min.js' %}></script>
        <script src={% static 'jquery-slimscroll/jquery.slimscroll.min.js' %}></script>
        <script src={% static 'fastclick/fastclick.js' %}></script>
        <script src={% static 'adminlte/js/adminlte.min.js' %}></script>
        <script src={% static 'select2/js/select2.min.js' %}></script>
        <script src={% static 'datatables/js/jquery.dataTables.min.js' %}></script>
        <script src={% static 'datatables/js/dataTables.bootstrap.min.js' %}></script>
        <script src={% static 'bootstrap/js/bootstrap.min.js' %}></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.18.1/moment.min.js"></script>
        <!--<script src={% static 'chart.js/Chart.min.js' %}></script>-->
        <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.5.0/Chart.min.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery.mask/1.14.11/jquery.mask.min.js"></script>
        <script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>
        <script src="{% static 'js/jquery.bootstrap.modal.forms.min.js' %}"></script>
</body>

</html>