{% load static %}

<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Repgement | {{ titulo }}</title>
    <!--<link rel="shortcut icon" href="{% static '/images/favicon.png' %}">-->
    <!-- Tell the browser to be responsive to screen width -->
    <meta content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no" name="viewport">
    <!-- Bootstrap 3.3.7 -->
    <link rel="stylesheet" type="text/css" href="{% static 'bootstrap/css/bootstrap.min.css' %}">

    <!-- Theme style -->
    <link rel="stylesheet" type="text/css" href="{% static 'adminlte/css/AdminLTE.min.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'adminlte/css/skins/_all-skins.min.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'font-awesome/css/font-awesome.min.css' %}">

    <link rel="stylesheet" href="{% static 'app/bower_components/Ionicons/css/ionicons.min.css' %}">
    <link rel="stylesheet" href="{% static 'app/bower_components/morris.js/morris.css' %}">
    <link rel="stylesheet" href="{% static 'app/bower_components/jvectormap/jquery-jvectormap.css' %}">


    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
  <script src="https://oss.maxcdn.com/html5shiv/3.7.3/html5shiv.min.js"></script>
  <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/select2/4.0.6-rc.0/js/select2.min.js"></script>

  <![endif]-->

    <!-- Google Font -->
    <link rel="stylesheet"
        href="https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,600,700,300italic,400italic,600italic">
    {% block extraCSS %}
    {% endblock extraCSS %}
</head>

<body class="hold-transition skin-blue sidebar-mini wysihtml5-supported" style="height: auto; min-height: 100%;">
    <div class="wraper" style="height: auto; min-height: 100%;">

        {% if request.user != '' %}
        <header class="main-header">
            <a href="{% url 'dashboard' %}" class="logo">
                <span class="logo-mini"><b>R</b>1.0</span>
                <span class="logo-lg"><b>REP</b>gement</span>
            </a>
            <nav class="navbar navbar-static-top">
                <a href="#" class="sidebar-toggle" data-toggle="push-menu" role="button">
                    <span class="sr-only">Navegação</span>
                </a>

                <div class="navbar-custom-menu">
                    <ul class="nav navbar-nav">

                        <li class="dropdown notifications-menu">
                            <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                                <i class="fa fa-bell-o"></i>
                                {% if notificacao.n > 0 %}
                                <span class="label label-warning">{{ notificacao.n }}</span>
                                {% else %}
                                <span class="label label-sucess">0</span>
                                {% endif %}
                            </a>
                            {% if notificacao.n > 0 %}
                            <ul class="dropdown-menu">
                                <li class="header">Você tem {{ notificacao.n }} notificações</li>
                                <li>
                                    <!-- inner menu: contains the actual data -->
                                    <ul class="menu">
                                        <li>
                                            <a href="{% url 'integrantes' %}">
                                                <i class="fa fa-warning text-yellow"></i> {{ notificacao.pendente }}
                                                Contas Atrasadas
                                            </a>
                                        </li>
                                        <li>
                                            <a href="{% url 'agenda' %}">
                                                <i class="fa fa-warning text-red"></i> {{ notificacao.atrasada }} Contas
                                                a pagar
                                            </a>
                                        </li>
                                    </ul>
                                </li>
                                <li class="footer"><a href="{% url 'avisos' %}">Ver Todos</a></li>
                            </ul>
                            {% endif %}
                        </li>
                        <li class="dropdown user user-menu">
                            <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                                <img src="{% static '/images/favicon.png' %}" class="user-image" alt="User Image">
                                <span class="hidden-xs">{{ usuario.nome }}</span>
                            </a>
                            <ul class="dropdown-menu">
                                <!-- User image -->
                                <li class="user-header">
                                    <img src="{% static '/images/favicon.png' %}" class="img-circle" alt="User Image">

                                    <p>
                                        {{ usuario.nome }}
                                        <small>Membro desde {{ usuario.created_at }}</small>
                                    </p>
                                </li>
                                <!-- Menu Footer-->
                                <li class="user-footer">
                                    <div class="pull-left">
                                        <a href="{% url 'perfil' %}" class="btn btn-default btn-flat">Perfil</a>
                                    </div>
                                    <div class="pull-right">
                                        <a href="{% url 'logout' %}" class="btn btn-default btn-flat">Sair</a>
                                    </div>
                                </li>
                            </ul>
                        </li>
                    </ul>
                </div>
            </nav>
        </header>

        <!---->
        <!-- Coluna lateral esquerda -->
        <aside class="main-sidebar">
            <!-- sidebar: style can be found in sidebar.less -->
            <section class="sidebar" style="height: auto;">
                <!-- Sidebar user panel -->
                <div class="user-panel">
                    <div class="pull-left image">
                        <img src="{% static '/images/favicon.png' %}" class="img-circle" alt="User Image">
                    </div>
                    <div class="pull-left info">
                        <p>{{ usuario.nome }}</p>
                        <a href=""><i class="fa fa-user text-blue"></i> Integrante</a>
                    </div>
                </div>
                <!-- search form -->
                <form action="#" method="get" class="sidebar-form">
                    <div class="input-group">
                        <input type="text" name="q" class="form-control" placeholder="Search...">
                        <span class="input-group-btn">
                            <button type="submit" name="search" id="search-btn" class="btn btn-flat"><i
                                    class="fa fa-search"></i>
                            </button>
                        </span>
                    </div>
                </form>
                <!-- /.search form -->

                <!-- sidebar menu: : style can be found in sidebar.less -->
                <ul class="sidebar-menu" data-widget="tree">
                    <li class="header">Menu</li>
                    <li class="active">
                        <a href="{% url 'dashboard' %}">
                            <i class="fa fa-dashboard"></i> <span>Pagina Inicial</span>
                        </a>
                    </li>
                    <li class="treeview">
                        <a href="#">
                            <i class="fa fa-book"></i> <span>Financeiro</span>
                            <span class="pull-right-container">
                                <i class="fa fa-angle-left pull-right"></i>
                            </span>
                        </a>
                        <ul class="treeview-menu">
                            <li class=""><a href="{% url 'lancamentos' %}"><i
                                        class="fa fa-sticky-note"></i>Lançamentos</a>
                            </li>
                            <li class=""><a href="{% url 'relatorios' %}"><i class="fa fa-gear"></i>Relatórios</a></li>
                            <li class=""><a href="{% url 'contatos' %}"><i class="fa fa-user"></i>Contatos</a></li>
                        </ul>
                    </li>
                    <li class="">
                        <a href="{% url 'agenda' %}">
                            <i class="fa fa-calendar"></i> <span>Agenda</span>
                        </a>
                    </li>
                    <li class="treeview">
                        <a href="#">
                            <i class="fa fa-comments"></i> <span>Metas</span>
                            <span class="pull-right-container">
                                <i class="fa fa-angle-left pull-right"></i>
                            </span>
                        </a>
                        <ul class="treeview-menu">
                            <li class=""><a href="{% url 'orcamento' %}"><i class="fa fa-money"></i>Orçamento</a></li>
                            <li class=""><a href="{% url 'economia' %}"><i class="fa fa-leaf"></i>Economia</a></li>
                        </ul>
                    </li>
                    <li class="treeview">
                        <a href="#">
                            <i class="fa fa-gears"></i> <span>Mais Opções</span>
                            <span class="pull-right-container">
                                <i class="fa fa-angle-left pull-right"></i>
                            </span>
                        </a>
                        <ul class="treeview-menu">
                            <li class=""><a href="{% url 'republica' %}"><i class="fa fa-home"></i>Minha República</a>
                            </li>
                            <li class=""><a href="{% url 'integrantes' %}"><i class="fa fa-users"></i>Integrantes</a>
                            </li>
                        </ul>
                    </li>
                    <li class="">
                        <a href="{% url 'forum' %}">
                            <i class="fa fa-forumbee"></i> <span>Dúvidas e Feedback</span>
                        </a>
                    </li>
                </ul>
            </section>
        </aside>
        {% endif %}

        <!-- 
            Conteudo Central
        -->

        <div class="content-wrapper">
            <div class="content">
                {% block conteudo %}
                {% endblock conteudo %}
            </div>
        </div>
        <footer class="main-footer">
            <div class="pull-right hidden-xs">
                <b>Versão</b> 1.0.0
            </div>
            <strong>Copyright © 2019</strong>
        </footer>
    </div>
    <!-- ./wrapper -->

    <!-- jQuery 3 -->
    <script src="{% static 'app/bower_components/jquery/dist/jquery.min.js' %}"></script>
    <!-- jQuery UI 1.11.4 -->
    <script src="{% static 'app/bower_components/jquery-ui/jquery-ui.min.js' %}"></script>
    <!-- Resolve conflict in jQuery UI tooltip with Bootstrap tooltip -->
    <script>
        $.widget.bridge('uibutton', $.ui.button);
    </script>
    <!-- Bootstrap 3.3.7 -->
    <script src="{% static 'app/bower_components/bootstrap/dist/js/bootstrap.min.js' %}"></script>
    <!-- Morris.js charts -->
    <script src="{% static 'app/bower_components/raphael/raphael.min.js' %}"></script>
    <script src="{% static 'app/bower_components/morris.js/morris.min.js' %}"></script>
    <!-- Sparkline -->
    <script src="{% static 'app/bower_components/jquery-sparkline/dist/jquery.sparkline.min.js' %}"></script>
    <!-- jvectormap -->
    <script src="{% static 'app/plugins/jvectormap/jquery-jvectormap-1.2.2.min.js' %}"></script>
    <script src="{% static 'app/plugins/jvectormap/jquery-jvectormap-world-mill-en.js' %}"></script>
    <!-- jQuery Knob Chart -->
    <script src="{% static 'app/bower_components/jquery-knob/dist/jquery.knob.min.js' %}"></script>
    <!-- daterangepicker -->
    <script src="{% static 'app/bower_components/moment/min/moment.min.js' %}"></script>
    <script src="{% static 'app/bower_components/bootstrap-daterangepicker/daterangepicker.js' %}"></script>
    <!-- datepicker -->
    <script src="{% static 'app/bower_components/bootstrap-datepicker/dist/js/bootstrap-datepicker.min.js' %}"></script>
    <!-- Bootstrap WYSIHTML5 -->
    <script src="{% static 'app/plugins/bootstrap-wysihtml5/bootstrap3-wysihtml5.all.min.js' %}"></script>
    <!-- Slimscroll -->
    <script src="{% static 'app/bower_components/jquery-slimscroll/jquery.slimscroll.min.js' %}"></script>
    <!-- FastClick -->
    <script src="{% static 'app/bower_components/fastclick/lib/fastclick.js' %}"></script>
    <!-- AdminLTE App -->
    <script src="{% static 'app/dist/js/adminlte.min.js' %}"></script>
    <!-- AdminLTE dashboard demo (This is only for demo purposes) 
    <script src="{% static 'app/dist/js/pages/dashboard.js' %}"></script>
    <!-- AdminLTE for demo purposes 
    <script src="{% static 'app/dist/js/demo.js' %}"></script>  
    -->
</body>

</html>