{% extends 'base.html' %}



{% block content %}

{% for message in messages %}
    <div class="alert alert-danger">
        {{message}}
    </div>
{% endfor %}

<h1>Login</h1>
{% include 'painel/form.html' with form=form %}

{% endblock %}