{% load static %}

<!DOCTYPE html>
<html>

<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <title>Repgement | {{ titulo }}</title>
  <link rel="shortcut icon" href="{% static '/images/favicon.png' %}">
  <!-- Tell the browser to be responsive to screen width -->
  <meta content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no" name="viewport">
  <!-- Bootstrap 3.3.7 -->
  <link rel="stylesheet" type="text/css" href="{% static 'bootstrap/css/bootstrap.min.css' %}">

  <!-- Theme style -->
  <link rel="stylesheet" type="text/css" href="{% static 'adminlte/css/AdminLTE.min.css' %}">
  <link rel="stylesheet" type="text/css" href="{% static 'adminlte/css/skins/_all-skins.min.css' %}">
  <link rel="stylesheet" type="text/css" href="{% static 'font-awesome/css/font-awesome.min.css' %}">

  <link rel="stylesheet" href="{% static 'app/bower_components/Ionicons/css/ionicons.min.css' %}">
  <link rel="stylesheet" href="{% static 'app/bower_components/morris.js/morris.css' %}">
  <link rel="stylesheet" href="{% static 'app/bower_components/jvectormap/jquery-jvectormap.css' %}">


  <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
  <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
  <!--[if lt IE 9]>
  <script src="https://oss.maxcdn.com/html5shiv/3.7.3/html5shiv.min.js"></script>
  <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/select2/4.0.6-rc.0/js/select2.min.js"></script>

  <![endif]-->

  <!-- Google Font -->
  <link rel="stylesheet"
    href="https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,600,700,300italic,400italic,600italic">
  
    <style>
    .vertical-center { /*alinhamento vertical*/
      min-height: 100%;  
      min-height: 100vh; 
    
      display: flex;
      align-items: center;
    }
    
    .horizontal-center {
        margin: 0 auto;
        width: 35%;
    }

    .form-back {
      background-color: whitesmoke;
      padding: 40px;
      border-radius: 5px 50px 5px 50px;
      box-shadow: 10px 15px 10px #888888;
    }

    .avatar {
      padding-bottom: 15px;
      display: flex;
      align-items: center;
    }

    body{
      background-color: #63ca00;
    }
    </style> 
</head>

<body>
  <div class="container">
    <div class="horizontal-center vertical-center">
      <form action="{% url 'login' %}" method="post" class="form form-back">{% csrf_token %}
        
        <div class="d-flex justify-content-center">
          <img src="{% static 'img/user-icon.png' %}" alt="Avatar" class="avatar" width="20%">
        </div>

        <div class="form-group">
          <label for="exampleInputEmail1" class="form-label text-uppercase">Email</label>
          <input type="text" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp"
            placeholder="E-mail" name="username">
          <small id="emailHelp" class="form-text text-muted">Insira seu e-mail adequadamente.</small>
        </div>
        <div class="form-group">
          <label for="exampleInputPassword1" class="text-uppercase">Senha</label>
          <input type="password" class="form-control" id="exampleInputPassword1" placeholder="Password" name="password">
        </div>
        <div class="form-group float-right">
          <button type="submit" class="btn btn-success btn-block">Logar</button>
        </div>
      </form>
    </div>
  </div>
</body>