{% load static %}

<!DOCTYPE html>
<html>

<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <title>Repgement | {{ titulo }}</title>
  <link rel="shortcut icon" href="{% static '/images/favicon.png' %}">
  <!-- Tell the browser to be responsive to screen width -->
  <meta content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no" name="viewport">
  <!-- Bootstrap 3.3.7 -->
  <link rel="stylesheet" type="text/css" href="{% static 'bootstrap/css/bootstrap.min.css' %}">

  <!-- Theme style -->
  <link rel="stylesheet" type="text/css" href="{% static 'adminlte/css/AdminLTE.min.css' %}">
  <link rel="stylesheet" type="text/css" href="{% static 'adminlte/css/skins/_all-skins.min.css' %}">
  <link rel="stylesheet" type="text/css" href="{% static 'font-awesome/css/font-awesome.min.css' %}">

  <link rel="stylesheet" href="{% static 'app/bower_components/Ionicons/css/ionicons.min.css' %}">
  <link rel="stylesheet" href="{% static 'app/bower_components/morris.js/morris.css' %}">
  <link rel="stylesheet" href="{% static 'app/bower_components/jvectormap/jquery-jvectormap.css' %}">


  <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
  <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
  <!--[if lt IE 9]>
  <script src="https://oss.maxcdn.com/html5shiv/3.7.3/html5shiv.min.js"></script>
  <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/select2/4.0.6-rc.0/js/select2.min.js"></script>

  <![endif]-->

  <!-- Google Font -->
  <link rel="stylesheet"
    href="https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,600,700,300italic,400italic,600italic">

  <style>
    .vertical-center {
      /*alinhamento vertical*/
      min-height: 100%;
      min-height: 100vh;

      display: flex;
      align-items: center;
    }

    .horizontal-center {
      margin: 0 auto;
      width: 35%;
    }

    .form-back {
      background-color: whitesmoke;
      padding: 40px;
      border-radius: 5px 50px 5px 50px;
      box-shadow: 10px 15px 10px #888888;
    }

    .avatar {
      padding-bottom: 15px;
      display: flex;
      align-items: center;
    }

    body {
      background-color: #63ca00;
    }
  </style>
</head>

<body>
  <div class="container">
    <div class="horizontal-center vertical-center">
      <form action="{% url 'register' %}" method="post" class="form form-back">
        {% csrf_token %}

        <div class="form-group">
          <div class="card-title">
            <h3>República</h3>
          </div>
          <div class="form-group">
            <label for="nomeRep" class="text-uppercase">Nome</label>
            <input type="text" class="form-control" id="nomeRep" placeholder="Nome da República" name="nome">
          </div>
          <div class="form-group">
            <label for="endereco" class="text-uppercase">Endereço</label>
            <input type="text" class="form-control" id="endereco" placeholder="Endereço"
              name="endereco">
          </div>
          <div class="form-group">
            <label for="cidade" class="text-uppercase">Cidade</label>
            <input type="text" class="form-control" id="cidade" placeholder="Cidade"
              name="cidade">
          </div>
          <div class="form-group">
            <label for="exampleInputPassword1" class="text-uppercase">Estado</label>
            {{ form.estado }}
          </div>
          <div class="form-group">
            <label for="Ano" class="text-uppercase">Ano</label>
            <select name="since_year" class="form-control" id="Ano">
              <option value="2019">2019</option>
              <option value="2018">2018</option>
              <option value="2017">2017</option>
              <option value="2016">2016</option>
              <option value="2015">2015</option>
              <option value="2014">2014</option>
              <option value="2013">2013</option>
              <option value="2012">2012</option>
              <option value="2011">2011</option>
              <option value="2010">2010</option>
            </select>
          </div>
          <div class="form-group">
            <label for="Genero" class="text-uppercase">Gênero</label>
              {{ form.genero }}
            </div>
        </div>

        <div class="form-group float-right">
          <button type="submit" class="btn btn-success btn-block">Registrar</button>
        </div>
      </form>
    </div>
  </div>
</body>